@use 'helpers' as *;

@include simple-reset {
    background: $netflix-background;
    color: $netflix-white;
}

#top {
    height: 64px;

    .logo {
        img {
            height: 32px;
            object-fit: cover;
        }
    }
    nav {
        .nav-link {
            color: $netflix-white;

            &.active {
                font-weight: 500;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.nav-container {
    // z-index: 3;
    @include padding-x(12px);
}
.heading-background-picture {
    object-fit: contain;
    object-position: top left;
    // max-height: 768px;

    // height: 50vh;

    width: 100vw;
    user-select: none;
    position: relative;
    z-index: -1;
}
.current-item {
    margin-top: 25vh;
    position: relative;
    margin-left: 5vw;
    // z-index: 2;

    .heading-title {
        @include font-size(45px, 900, 48px);

        max-width: 600px;
        width: 80vw;

        @include lg {
            @include font-size(78px, 900, 78px);
        }
    }
}

.hide-on-mobile {
    @include lg-down {
        display: none;
    }
}
.only-display-this-on-mobile {
    @include lg {
        display: none;
    }
}

$dark: $netflix-white;
$light: #efefef;
$color: #b3e5fc;

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 30px;
    background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: '';
    top: $top;
}

@mixin icon-circle($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 2px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
    border: 4px solid $dark;
    left: -15px;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: '';
    top: $top;
}

@mixin btn($left, $top) {
    // position: absolute;

    position: relative;
    width: 60px;
    height: 60px;
    // top: $top;
    // left: $left;
    transition-duration: 0.5s;
}

.burger {
    @include btn(15px, 400px);

    .icon-circle {
        @include icon-circle(60px, 60px);

        &:hover {
            // background: transparent;
        }
    }

    .icon {
        @include icon(4px, 30px);
        border-radius: 4px;

        &:before {
            @include icon-before(4px, 30px, -10px);
            border-radius: 4px;
        }

        &:after {
            @include icon-after(4px, 30px, 10px);
            border-radius: 4px;
        }
    }

    &.open {
        .icon-circle {
            background: transparent;
        }
        .icon {
            transition-duration: 0.5s;
            background: transparent;

            &:before {
                transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
            }

            &:after {
                transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}
