@use 'helpers' as *;

@use './components/burger' as *;

@include simple-reset {
    background: $netflix-background;
    color: $netflix-white;
}

#top {
    height: 64px;

    .logo {
        img {
            height: 32px;
            object-fit: cover;
        }
    }
    nav {
        .nav-link {
            color: $netflix-white;

            &.active {
                font-weight: 500;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.nav-container {
    // z-index: 3;
    @include padding-x(12px);
}
.heading-background-picture {
    object-fit: contain;
    object-position: top left;
    // max-height: 768px;

    // height: 50vh;

    width: 100vw;
    user-select: none;
    position: relative;
    z-index: -1;
}
.current-item {
    margin-top: 25vh;
    position: relative;
    margin-left: 5vw;
    // z-index: 2;

    .heading-title {
        @include font-size(45px, 900, 48px);

        max-width: 600px;
        width: 80vw;

        @include lg {
            @include font-size(78px, 900, 78px);
        }
    }
}

.hide-on-mobile {
    @include lg-down {
        display: none;
    }
}
.only-display-this-on-mobile {
    @include lg {
        display: none;
    }
}

@include burger-btn;
