@use 'helpers' as *;
@use './components/burger' as *;
@use './components/posters' as *;
@use './components/nav' as *;
@use './components/form' as *;
@use './components/modal' as *;
@use './components/notifications' as *;
@use './components/details' as *;

@include simple-reset {
    background-color: $netflix-background;
    background-image: $netflix-black-lg;
    color: $netflix-white;
    overflow-x: hidden;
}

#top {
    height: 64px;
    position: absolute;
    top: 0;
    z-index: 3;
    .logo {
        img {
            height: 32px;
            max-width: 32px;
            object-fit: cover;
            @include md {
                max-width: unset;
            }
        }
    }
    @include font-size(18px);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;

        z-index: -2;

        background: rgba(14, 14, 14, 0.4);
        filter: blur(3px);
        box-shadow: 0 0 2px 2px rgba(14, 14, 14, 0.4);
    }

    @include nav;
}

header {
    height: 550px;
    position: relative;
    @include lg {
        height: 620px;
    }
}

footer {
    @include font-size(12px, 400, 24px);
}

.app {
    width: 100vw;
    margin: 0 auto;
    .content {
        padding: 1rem 2.5vw;
    }
}

.background-picture {
    z-index: -3;
    user-select: none;
    pointer-events: none;
    padding: 0;

    img {
        position: relative;
        z-index: -3;
        object-fit: cover;
        object-position: center;
        width: 100vw;
        height: 550px;

        @include lg {
            aspect-ratio: 16/10;
            height: 720px;
        }
    }

    .blured {
        z-index: -2;
        height: 30px;
        @include lg {
            height: 100px;
        }
    }
}

.blured {
    background: rgba(14, 14, 14, 0.5);
    filter: blur(3px);
    box-shadow: 0 0 2px 2px rgba(14, 14, 14, 0.5);
}
.blured-background {
    @extend .blured;
    position: absolute;

    left: 0;
    right: 0;

    z-index: -1;
    pointer-events: none;

    top: 520px;
    height: 30px;
    @include lg {
        top: 620px;
        height: 100px;
    }
}

.heading {
    position: absolute;

    // top: 25vh;
    left: 10vw;

    top: 300px;

    @include sm {
        top: 350px;
    }

    @include lg {
        // top: 40vh;
        // bottom: calc(100vh - 600px);
        // top: 350px;
        left: 0;
        max-width: 50vw;
    }

    .heading-title {
        @include font-size(45px, 900, 48px);

        max-width: 600px;
        width: 80vw;

        @include lg {
            width: 50vw;
            @include font-size(78px, 900, 78px);
        }
    }

    .btn {
        display: flex;
        align-items: center;
        @include font-size(23px, 500, 35px);
        .bi {
            font-size: 32px;
            margin-right: 8px;
        }
    }
}

.hide-on-mobile {
    @include lg-down {
        display: none;
    }
}
.mobile-only {
    @include lg {
        display: none;
    }
}

@include burger-btn;

@include posters;

#input-movie-title {
    @include form;

    min-height: 78px;

    .btn-submit {
        width: 48px !important;
    }

    .input-text {
        width: calc(100% - 48px) !important;
    }
}

// dialog overrides
.ng-dialog {
    &--form {
        color: $netflix-white;
        background-color: rgba($netflix-black-rgb, 0.8);
        background-image: linear-gradient(90deg, rgba(51, 51, 51, 0.8) 5%, rgba(24, 24, 24, 0.8) 95%);

        [type='submit'],
        [type='button'],
        [type='reset'],
        [role='button'],
        button {
            background: rgba($netflix-black-rgb, 1) !important;
            color: $netflix-white !important;
            &:hover,
            &:focus {
                box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
                background: rgba($netflix-red-hover-rgb, 0.7) !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.085em rgba(133, 5, 11, 1);
            }

            &:active {
                box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
                background: rgba($netflix-red-hover-rgb, 0.8) !important;
            }
        }
    }
}

@include notifications;
@include details;
