:root {
  --netflix-red: rgb(229, 9, 20);
  --netflix-red-hover: rgb(244, 6, 18);
  --netflix-black: rgb(24, 24, 24);
  --netflix-white: rgb(254, 252, 248);
  --netflix-gray: rgb(163, 163, 163);
  --netflix-background: rgb(24, 24, 24);
  --netflix-red-rgb: 229, 9, 20;
  --netflix-red-hover-rgb: 244, 6, 18;
  --netflix-black-rgb: 24, 24, 24;
  --netflix-white-rgb: 254, 252, 248;
  --netflix-gray-rgb: 163, 163, 163;
  --netflix-black-lg: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  --netflix-red-lg: linear-gradient(180deg, rgb(229, 9, 20), rgb(219, 5, 16));
}

@keyframes blink {
  from, 50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes roll {
  from {
    transform: translate(-100%) rotate(0turn);
  }
  to {
    transform: translate(100%) rotate(10turn);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgb(24, 24, 24);
  background-color: var(--netflix-background);
  background-image: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  background-image: var(--netflix-black-lg);
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  overflow-x: hidden;
}

.burger-btn {
  --burger-transition-duration: 0.25s;
  --burger-color: rgba(var(--netflix-white-rgb), 0.8);
  --burger-bg: transparent;
  --burger-color-h: rgba(var(--netflix-black-rgb), 0.9);
  --burger-bg-h: rgba(var(--netflix-white-rgb), 0.9);
  --burger-border-size: 3px;
  --burger-size: 25px;
  --burger-layer-gap: 8px;
  width: calc(25px * 2);
  width: calc(var(--burger-size) * 2);
  height: calc(25px * 2);
  height: calc(var(--burger-size) * 2);
  position: relative;
  transition-duration: 0.25s;
  transition-duration: var(--burger-transition-duration);
  cursor: pointer;
}

.burger-btn .burger-circle {
  width: calc(var(--burger-size) * 2);
  height: calc(var(--burger-size) * 2);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: calc(var(--burger-border-size) / 2);
  border-radius: 50%;
  background: var(--burger-bg);
  border: var(--burger-border-size) solid var(--burger-color);
  right: 0;
}

.burger-btn .burger {
  width: var(--burger-size);
  height: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: var(--burger-size);
  right: calc(var(--burger-size) / 2);
  background-color: var(--burger-color);
  border-radius: var(--burger-border-size);
}

.burger-btn .burger::before, .burger-btn .burger::after {
  border-radius: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  width: var(--burger-size);
  height: var(--burger-border-size);
  background-color: var(--burger-color);
  content: "";
  top: calc(var(--burger-layer-gap) * -1);
}

.burger-btn .burger::after {
  top: var(--burger-layer-gap);
}

.burger-btn:hover .burger-circle {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger, .burger-btn:hover .burger::before, .burger-btn:hover .burger::after {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger-circle ~ .burger, .burger-btn:hover .burger-circle ~ .burger::before, .burger-btn:hover .burger-circle ~ .burger::after {
  background: var(--burger-color-h);
}

[type=checkbox]#burger-btn {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  position: absolute;
}

#burger-btn:checked ~ .burger-btn .burger,
.burger-btn.open .burger {
  background: transparent;
}

#burger-btn:checked ~ .burger-btn .burger:before,
.burger-btn.open .burger:before {
  transform: translateY(var(--burger-layer-gap)) rotateZ(45deg) scaleX(1.25);
}

#burger-btn:checked ~ .burger-btn .burger:after,
.burger-btn.open .burger:after {
  transform: translateY(calc(var(--burger-layer-gap) * -1)) rotateZ(-45deg) scaleX(1.25);
}

#top {
  height: 64px;
  position: absolute;
  top: 0;
  z-index: 3;
  font-size: 18px;
}

#top .logo img {
  height: 32px;
  max-width: 32px;
  object-fit: cover;
}

#top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: -2;
  background: rgba(24, 24, 24, 0.4);
  background: rgba(var(--netflix-black-rgb), 0.4);
  filter: blur(3px);
  box-shadow: 0 0 2px 2px rgba(24, 24, 24, 0.4);
  box-shadow: 0 0 2px 2px rgba(var(--netflix-black-rgb), 0.4);
}

#top .nav {
  transition: right 0.75s ease-out;
}

#top .nav .nav-link {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  position: relative;
  color: rgba(254, 252, 248, 0.8);
  color: rgba(var(--netflix-white-rgb), 0.8);
}

#top .nav .nav-link.active, #top .nav .nav-link:hover {
  font-weight: 600;
  color: rgba(254, 252, 248, 1);
  color: rgba(var(--netflix-white-rgb), 1);
}

#top .nav .nav-link.active {
  pointer-events: none;
}

#top .info-btn {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  -webkit-text-decoration: none;
  text-decoration: none;
}

#top .info-btn.active, #top .info-btn:hover {
  color: rgba(254, 252, 248, 1);
  color: rgba(var(--netflix-white-rgb), 1);
}

.ng-dialog {
  /*
      Dialog Reset
  */
  font-family: "Poppins", "Roboto", sans-serif;
  border: 0;
  outline: 0;
  background: transparent;
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}

.ng-dialog--form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  background: #ddd;
  padding: 0.5em;
}

.ng-dialog--form input,
.ng-dialog--form textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ng-dialog--form label {
  font-size: 16px;
  font-weight: 700;
}

.ng-dialog--form [type=submit],
.ng-dialog--form [type=button],
.ng-dialog--form [type=reset],
.ng-dialog--form [role=button],
.ng-dialog--form button {
  padding: 0.25em 1em;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  appearance: none;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
  cursor: pointer;
}

.ng-dialog--form [type=submit]:hover:not(:disabled), .ng-dialog--form [type=submit]:focus:not(:disabled),
.ng-dialog--form [type=button]:hover:not(:disabled),
.ng-dialog--form [type=button]:focus:not(:disabled),
.ng-dialog--form [type=reset]:hover:not(:disabled),
.ng-dialog--form [type=reset]:focus:not(:disabled),
.ng-dialog--form [role=button]:hover:not(:disabled),
.ng-dialog--form [role=button]:focus:not(:disabled),
.ng-dialog--form button:hover:not(:disabled),
.ng-dialog--form button:focus:not(:disabled) {
  background-color: rgba(12, 12, 13, 0.2);
}

.ng-dialog--form [type=submit]:active:not(:disabled),
.ng-dialog--form [type=button]:active:not(:disabled),
.ng-dialog--form [type=reset]:active:not(:disabled),
.ng-dialog--form [role=button]:active:not(:disabled),
.ng-dialog--form button:active:not(:disabled) {
  background-color: rgba(12, 12, 13, 0.3);
}

.ng-dialog--form [type=submit]:disabled,
.ng-dialog--form [type=button]:disabled,
.ng-dialog--form [type=reset]:disabled,
.ng-dialog--form [role=button]:disabled,
.ng-dialog--form button:disabled {
  color: #b1b1b3;
  cursor: default;
}

.ng-dialog--form button + button {
  margin-left: 2vmin;
}

.ng-dialog--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ng-dialog--heading button[value=close] {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ng-dialog--heading h4 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 0 1em;
  margin: 0;
}

.ng-dialog--contents {
  padding: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vmin;
}

.ng-dialog--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ng-dialog:not([open]) {
  visibility: hidden;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}

.ng-dialog:not([open]) .ng-dialog--form, .ng-dialog.closing .ng-dialog--form {
  transform: scale(0);
  opacity: 0;
}

.ng-dialog:modal {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: none;
  max-width: initial;
  max-height: none;
  max-height: initial;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-dialog:modal .ng-dialog--form {
  min-height: 20vmin;
  min-width: 30vmin;
  max-width: 100vw;
  max-height: 100vh;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform-origin: center center;
}

.ng-dialog.pos-top {
  align-items: flex-start;
}

.ng-dialog.pos-top .ng-dialog--form {
  margin-top: 10vmax;
}

.ng-dialog.pos-bottom {
  align-items: flex-end;
}

.ng-dialog.pos-bottom .ng-dialog--form {
  margin-bottom: 10vmax;
}

.ng-dialog.pos-left {
  justify-content: flex-start;
}

.ng-dialog.pos-left .ng-dialog--form {
  margin-left: 10vmax;
}

.ng-dialog.pos-right {
  justify-content: flex-end;
}

.ng-dialog.pos-right .ng-dialog--form {
  margin-right: 10vmax;
}

.ng-dialog::backdrop {
  background: rgba(14, 14, 14, 0.5);
  filter: blur(3px);
  box-shadow: 0 0 3px 3px rgba(14, 14, 14, 0.5);
}

.ng-dialog .ng-dialog--form-input {
  display: flex;
  flex-direction: column;
}

.ng-dialog .ng-dialog--form-input label + input {
  margin: 0.25em 0;
}

.ng-dialog .ng-dialog--form-input-inline {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.ng-dialog .ng-dialog--form-input-inline label + input {
  margin: 0 0.5em 0 0;
}

.ng-dialog [hidden] {
  display: none !important;
}

.ng-dialog [disabled] {
  pointer-events: none;
  opacity: 0.9;
}

.main-loader {
  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(24, 24, 24);
  background: var(--netflix-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-loader .fluo {
  --fluo-outer-size: 15vmin;
  --fluo-wheel-size: 15%;
  --fluo-inner-bg: rgba(24, 24, 24, 0.2);
  --fluo-text-color: var(--netflix-white);
  --fluo-wheel-gradient: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  position: relative;
  width: 15vmin;
  width: var(--fluo-outer-size);
  height: 15vmin;
  height: var(--fluo-outer-size);
  font-size: calc(15vmin * 0.275);
  font-size: calc(var(--fluo-outer-size) * 0.275);
  margin: calc(15vmin / 6);
  margin: calc(var(--fluo-outer-size) / 6);
  animation: spin 0.5s linear infinite;
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  background: var(--fluo-wheel-gradient);
  color: rgb(254, 252, 248);
  color: var(--fluo-text-color);
}

.main-loader .fluo > * {
  border-radius: 50%;
  background: var(--fluo-wheel-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-loader .fluo > *:nth-child(1) {
  filter: blur(5px);
}

.main-loader .fluo > *:nth-child(2) {
  filter: blur(10px);
}

.main-loader .fluo > *:nth-child(3) {
  filter: blur(25px);
}

.main-loader .fluo > *:nth-child(4) {
  filter: blur(50px);
}

.main-loader .fluo::after {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: var(--fluo-wheel-size);
  right: var(--fluo-wheel-size);
  bottom: var(--fluo-wheel-size);
  left: var(--fluo-wheel-size);
  width: calc(100% - 2 * var(--fluo-wheel-size));
  height: calc(100% - 2 * var(--fluo-wheel-size));
  border-radius: 50%;
  background: var(--fluo-inner-bg);
  box-shadow: inset 0 0 16px 16px rgba(0, 0, 0, 0.3);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  animation: spin 0.5s linear infinite reverse;
}

.main-loader .fluo.fast, .main-loader .fluo::after.fast {
  animation-duration: 0.25s;
}

.main-loader .fluo.faster, .main-loader .fluo::after.faster {
  animation-duration: 0.15s;
}

.main-loader .fluo.slow, .main-loader .fluo::after.slow {
  animation-duration: 0.75s;
}

.main-loader .fluo.slower, .main-loader .fluo::after.slower {
  animation-duration: 1s;
}

.main-loader .fluo[data-percent]::after {
  content: attr(data-percent) "%";
}

.main-loader .fluo[data-percent="100"], .main-loader .fluo.complete {
  animation-duration: 5s;
}

.main-loader .fluo[data-percent="100"]::after, .main-loader .fluo.complete::after {
  animation-duration: 5s;
}

.main-loader .fluo::after {
  box-shadow: none;
  background: rgba(24, 24, 24, 0.6);
  background: rgba(var(--netflix-black-rgb), 0.6);
}

.main-loader .typed {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

:not(:empty) + .main-loader {
  display: none;
}

.ng-dialog--form {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  background-color: rgba(24, 24, 24, 0.8);
  background-color: rgba(var(--netflix-black-rgb), 0.8);
  background-image: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  background-image: var(--netflix-black-lg);
}

.ng-dialog--form [type=submit],
.ng-dialog--form [type=button],
.ng-dialog--form [type=reset],
.ng-dialog--form [role=button],
.ng-dialog--form button {
  background: rgba(24, 24, 24, 1) !important;
  background: rgba(var(--netflix-black-rgb), 1) !important;
  color: rgb(254, 252, 248) !important;
  color: var(--netflix-white) !important;
}

.ng-dialog--form [type=submit]:hover, .ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:hover,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:hover,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:hover,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:hover,
.ng-dialog--form button:focus {
  background: rgba(244, 6, 18, 0.7) !important;
  background: rgba(var(--netflix-red-hover-rgb), 0.7) !important;
}

.ng-dialog--form [type=submit]:hover, .ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:hover,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:hover,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:hover,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:hover,
.ng-dialog--form button:focus {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
}

.ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:focus {
  box-shadow: 0 0 0 0.085em rgb(133, 5, 11);
}

.ng-dialog--form [type=submit]:active,
.ng-dialog--form [type=button]:active,
.ng-dialog--form [type=reset]:active,
.ng-dialog--form [role=button]:active,
.ng-dialog--form button:active {
  background: rgba(244, 6, 18, 0.8) !important;
  background: rgba(var(--netflix-red-hover-rgb), 0.8) !important;
}

.ng-dialog--form [type=submit]:active,
.ng-dialog--form [type=button]:active,
.ng-dialog--form [type=reset]:active,
.ng-dialog--form [role=button]:active,
.ng-dialog--form button:active {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
}

.noscroll {
  overflow: hidden !important;
  width: 100% !important;
  padding-right: 8px !important;
}

.scrollback {
  scroll-behavior: auto !important;
}

#app {
  min-height: calc(100vh - 80px);
}

@media (min-width: 768px) {
  #top .logo img {
    max-width: none;
    max-width: initial;
  }
  .ng-dialog--form [type=submit][title]:not([type=button])::after,
  .ng-dialog--form [type=button][title]:not([type=button])::after,
  .ng-dialog--form [type=reset][title]:not([type=button])::after,
  .ng-dialog--form [role=button][title]:not([type=button])::after,
  .ng-dialog--form button[title]:not([type=button])::after {
    display: inline-block;
    content: attr(title);
    margin-left: 8px;
  }
}

@media (min-width: 992px) {
  #top .nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 50%;
    right: 50%;
    background: rgba(254, 252, 248, 1);
    background: rgba(var(--netflix-white-rgb), 1);
    transition-duration: 0.25s;
  }
  #top .nav .nav-link:hover::after {
    left: 15%;
    right: 15%;
  }
  .ng-dialog:modal .ng-dialog--form {
    transform: scale(1.2);
  }
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 992px) {
  #top .nav {
    position: fixed;
    bottom: 0;
    z-index: 4;
    width: 100vw;
    right: -105vw;
    height: calc(100vh - 70px);
    background: rgb(24, 24, 24);
    background: var(--netflix-black);
    box-shadow: 0 0 4px 4px rgba(24, 24, 24, 0.5);
    box-shadow: 0 0 4px 4px rgba(var(--netflix-black-rgb), 0.5);
    border-radius: 4px;
    align-items: center;
  }
  #top .nav .nav-link {
    transition: filter 0.25s ease;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
  }
  #top .nav .nav-link:hover {
    filter: drop-shadow(4px 4px 20px rgb(244, 6, 18)) contrast(200%);
    filter: drop-shadow(4px 4px 20px var(--netflix-red-hover)) contrast(200%);
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  #top #burger-btn:checked ~ .nav {
    right: 0;
  }
  .hide-on-mobile {
    display: none !important;
  }
}

/*# sourceMappingURL=app.css.map */