:root {
  --netflix-red: rgb(229, 9, 20);
  --netflix-red-hover: rgb(244, 6, 18);
  --netflix-black: rgb(24, 24, 24);
  --netflix-white: rgb(254, 252, 248);
  --netflix-gray: rgb(163, 163, 163);
  --netflix-background: rgb(24, 24, 24);
  --netflix-red-rgb: 229, 9, 20;
  --netflix-red-hover-rgb: 244, 6, 18;
  --netflix-black-rgb: 24, 24, 24;
  --netflix-white-rgb: 254, 252, 248;
  --netflix-gray-rgb: 163, 163, 163;
  --netflix-black-lg: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  --netflix-red-lg: linear-gradient(180deg, rgb(229, 9, 20), rgb(219, 5, 16));
}

@keyframes blink {
  from, 50% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes roll {
  from {
    transform: translate(-100%) rotate(0turn);
  }
  to {
    transform: translate(100%) rotate(10turn);
  }
}

/**
 * Swiper 9.4.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 13, 2023
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: ease;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, ease);
  transition-timing-function: initial;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  -ms-scroll-snap-type: none;
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-left: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-top: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid #007aff;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgb(24, 24, 24);
  background-color: var(--netflix-background);
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  overflow-x: hidden;
}

:focus-visible {
  outline: none;
}

header {
  position: absolute;
  height: 64px;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.burger-btn {
  --burger-transition-duration: 0.25s;
  --burger-color: rgba(var(--netflix-white-rgb), 0.8);
  --burger-bg: transparent;
  --burger-color-h: rgba(var(--netflix-black-rgb), 0.9);
  --burger-bg-h: rgba(var(--netflix-white-rgb), 0.9);
  --burger-border-size: 3px;
  --burger-size: 25px;
  --burger-layer-gap: 8px;
  width: calc(25px * 2);
  width: calc(var(--burger-size) * 2);
  height: calc(25px * 2);
  height: calc(var(--burger-size) * 2);
  position: relative;
  transition-duration: 0.25s;
  transition-duration: var(--burger-transition-duration);
  cursor: pointer;
}

.burger-btn .burger-circle {
  width: calc(var(--burger-size) * 2);
  height: calc(var(--burger-size) * 2);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: calc(var(--burger-border-size) / 2);
  border-radius: 50%;
  background: var(--burger-bg);
  border: var(--burger-border-size) solid var(--burger-color);
  right: 0;
}

.burger-btn .burger {
  width: var(--burger-size);
  height: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: var(--burger-size);
  right: calc(var(--burger-size) / 2);
  background-color: var(--burger-color);
  border-radius: var(--burger-border-size);
}

.burger-btn .burger::before, .burger-btn .burger::after {
  border-radius: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  width: var(--burger-size);
  height: var(--burger-border-size);
  background-color: var(--burger-color);
  content: "";
  top: calc(var(--burger-layer-gap) * -1);
}

.burger-btn .burger::after {
  top: var(--burger-layer-gap);
}

.burger-btn:hover .burger-circle {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger, .burger-btn:hover .burger::before, .burger-btn:hover .burger::after {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger-circle ~ .burger, .burger-btn:hover .burger-circle ~ .burger::before, .burger-btn:hover .burger-circle ~ .burger::after {
  background: var(--burger-color-h);
}

[type=checkbox]#burger-btn {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  position: absolute;
}

#burger-btn:checked ~ .burger-btn .burger,
.burger-btn.open .burger {
  background: transparent;
}

#burger-btn:checked ~ .burger-btn .burger:before,
.burger-btn.open .burger:before {
  transform: translateY(var(--burger-layer-gap)) rotateZ(45deg) scaleX(1.25);
}

#burger-btn:checked ~ .burger-btn .burger:after,
.burger-btn.open .burger:after {
  transform: translateY(calc(var(--burger-layer-gap) * -1)) rotateZ(-45deg) scaleX(1.25);
}

.nav-container {
  max-width: 100vw;
  margin: 0 auto;
  height: 64px;
  font-size: 18px;
}

.nav-container .logo img {
  height: 32px;
  max-width: 32px;
  object-fit: cover;
}

.nav-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: -1;
  background: rgba(24, 24, 24, 0.4);
  background: rgba(var(--netflix-black-rgb), 0.4);
  filter: blur(3px);
  box-shadow: 0 0 2px 2px rgba(24, 24, 24, 0.4);
  box-shadow: 0 0 2px 2px rgba(var(--netflix-black-rgb), 0.4);
}

.nav-container .nav {
  transition: right 0.75s ease-out;
}

.nav-container .nav .nav-link {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  position: relative;
  color: rgba(254, 252, 248, 0.8);
  color: rgba(var(--netflix-white-rgb), 0.8);
}

.nav-container .nav .nav-link.active, .nav-container .nav .nav-link:hover {
  font-weight: 600;
  color: rgba(254, 252, 248, 1);
  color: rgba(var(--netflix-white-rgb), 1);
}

.nav-container .nav .nav-link.active {
  pointer-events: none;
}

.nav-container .info-btn {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.nav-container .info-btn.active, .nav-container .info-btn:hover {
  color: rgba(254, 252, 248, 1);
  color: rgba(var(--netflix-white-rgb), 1);
}

.ng-dialog {
  /*
      Dialog Reset
  */
  font-family: "Poppins", "Roboto", sans-serif;
  border: 0;
  outline: 0;
  background: transparent;
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
}

.ng-dialog--form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  background: #ddd;
  padding: 0.5em;
}

.ng-dialog--form input,
.ng-dialog--form textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ng-dialog--form label {
  font-size: 16px;
  font-weight: 700;
}

.ng-dialog--form [type=submit],
.ng-dialog--form [type=button],
.ng-dialog--form [type=reset],
.ng-dialog--form [role=button],
.ng-dialog--form button {
  padding: 0.25em 1em;
  text-transform: capitalize;
  border: 0;
  outline: 0;
  appearance: none;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0d;
  background-color: rgba(12, 12, 13, 0.1);
  cursor: pointer;
}

.ng-dialog--form [type=submit]:hover:not(:disabled), .ng-dialog--form [type=submit]:focus:not(:disabled),
.ng-dialog--form [type=button]:hover:not(:disabled),
.ng-dialog--form [type=button]:focus:not(:disabled),
.ng-dialog--form [type=reset]:hover:not(:disabled),
.ng-dialog--form [type=reset]:focus:not(:disabled),
.ng-dialog--form [role=button]:hover:not(:disabled),
.ng-dialog--form [role=button]:focus:not(:disabled),
.ng-dialog--form button:hover:not(:disabled),
.ng-dialog--form button:focus:not(:disabled) {
  background-color: rgba(12, 12, 13, 0.2);
}

.ng-dialog--form [type=submit]:active:not(:disabled),
.ng-dialog--form [type=button]:active:not(:disabled),
.ng-dialog--form [type=reset]:active:not(:disabled),
.ng-dialog--form [role=button]:active:not(:disabled),
.ng-dialog--form button:active:not(:disabled) {
  background-color: rgba(12, 12, 13, 0.3);
}

.ng-dialog--form [type=submit]:disabled,
.ng-dialog--form [type=button]:disabled,
.ng-dialog--form [type=reset]:disabled,
.ng-dialog--form [role=button]:disabled,
.ng-dialog--form button:disabled {
  color: #b1b1b3;
  cursor: default;
}

.ng-dialog--form button + button {
  margin-left: 2vmin;
}

.ng-dialog--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ng-dialog--heading button[value=close] {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ng-dialog--heading h4 {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 0 1em;
  margin: 0;
}

.ng-dialog--contents {
  padding: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vmin;
}

.ng-dialog--footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ng-dialog:not([open]) {
  visibility: hidden;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}

.ng-dialog:not([open]) .ng-dialog--form, .ng-dialog.closing .ng-dialog--form {
  transform: scale(0);
  opacity: 0;
}

.ng-dialog:modal {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: none;
  max-width: initial;
  max-height: none;
  max-height: initial;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-dialog:modal .ng-dialog--form {
  min-height: 20vmin;
  min-width: 30vmin;
  max-width: 100vw;
  max-height: 100vh;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform-origin: center center;
}

.ng-dialog.pos-top {
  align-items: flex-start;
}

.ng-dialog.pos-top .ng-dialog--form {
  margin-top: 10vmax;
}

.ng-dialog.pos-bottom {
  align-items: flex-end;
}

.ng-dialog.pos-bottom .ng-dialog--form {
  margin-bottom: 10vmax;
}

.ng-dialog.pos-left {
  justify-content: flex-start;
}

.ng-dialog.pos-left .ng-dialog--form {
  margin-left: 10vmax;
}

.ng-dialog.pos-right {
  justify-content: flex-end;
}

.ng-dialog.pos-right .ng-dialog--form {
  margin-right: 10vmax;
}

.ng-dialog::backdrop {
  background: rgba(14, 14, 14, 0.5);
  filter: blur(3px);
  box-shadow: 0 0 3px 3px rgba(14, 14, 14, 0.5);
}

.ng-dialog .ng-dialog--form-input {
  display: flex;
  flex-direction: column;
}

.ng-dialog .ng-dialog--form-input label + input {
  margin: 0.25em 0;
}

.ng-dialog .ng-dialog--form-input-inline {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.ng-dialog .ng-dialog--form-input-inline label + input {
  margin: 0 0.5em 0 0;
}

.ng-dialog [hidden] {
  display: none !important;
}

.ng-dialog [disabled] {
  pointer-events: none;
  opacity: 0.9;
}

.main-loader {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(24, 24, 24);
  background: var(--netflix-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-loader .fluo {
  --fluo-outer-size: 15vmin;
  --fluo-wheel-size: 15%;
  --fluo-inner-bg: rgba(var(--netflix-black-rgb), 0.2);
  --fluo-text-color: var(--netflix-white);
  --fluo-wheel-gradient: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  position: relative;
  width: 15vmin;
  width: var(--fluo-outer-size);
  height: 15vmin;
  height: var(--fluo-outer-size);
  font-size: calc(15vmin * 0.275);
  font-size: calc(var(--fluo-outer-size) * 0.275);
  margin: calc(15vmin / 6);
  margin: calc(var(--fluo-outer-size) / 6);
  animation: spin 0.5s linear infinite;
  box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  background: var(--fluo-wheel-gradient);
  color: rgb(254, 252, 248);
  color: var(--fluo-text-color);
}

.main-loader .fluo > * {
  border-radius: 50%;
  background: var(--fluo-wheel-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-loader .fluo > *:nth-child(1) {
  filter: blur(5px);
}

.main-loader .fluo > *:nth-child(2) {
  filter: blur(10px);
}

.main-loader .fluo > *:nth-child(3) {
  filter: blur(25px);
}

.main-loader .fluo > *:nth-child(4) {
  filter: blur(50px);
}

.main-loader .fluo::after {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: var(--fluo-wheel-size);
  right: var(--fluo-wheel-size);
  bottom: var(--fluo-wheel-size);
  left: var(--fluo-wheel-size);
  width: calc(100% - 2 * var(--fluo-wheel-size));
  height: calc(100% - 2 * var(--fluo-wheel-size));
  border-radius: 50%;
  background: var(--fluo-inner-bg);
  box-shadow: inset 0 0 16px 16px rgba(0, 0, 0, 0.3);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  animation: spin 0.5s linear infinite reverse;
}

.main-loader .fluo.fast, .main-loader .fluo::after.fast {
  animation-duration: 0.25s;
}

.main-loader .fluo.faster, .main-loader .fluo::after.faster {
  animation-duration: 0.15s;
}

.main-loader .fluo.slow, .main-loader .fluo::after.slow {
  animation-duration: 0.75s;
}

.main-loader .fluo.slower, .main-loader .fluo::after.slower {
  animation-duration: 1s;
}

.main-loader .fluo[data-percent]::after {
  content: attr(data-percent) "%";
}

.main-loader .fluo[data-percent="100"], .main-loader .fluo.complete {
  animation-duration: 5s;
}

.main-loader .fluo[data-percent="100"]::after, .main-loader .fluo.complete::after {
  animation-duration: 5s;
}

.main-loader .fluo::after {
  box-shadow: none;
  background: rgba(24, 24, 24, 0.6);
  background: rgba(var(--netflix-black-rgb), 0.6);
}

.main-loader .typed {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

#app .cover {
  background: rgb(24, 24, 24);
  background: var(--netflix-black);
}

#app .background-picture {
  position: relative;
  z-index: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  max-height: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#app .background-picture .blured {
  background: rgba(24, 24, 24, 0.5);
  background: rgba(var(--netflix-black-rgb), 0.5);
  filter: blur(3px);
  box-shadow: 0 0 2px 2px rgba(24, 24, 24, 0.5);
  box-shadow: 0 0 2px 2px rgba(var(--netflix-black-rgb), 0.5);
  z-index: 1;
  pointer-events: none;
  position: relative;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
}

#app .background-picture img {
  max-height: 720px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

#app .heading {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app .heading-title {
  font-size: 45px;
  line-height: 48px;
  font-weight: 900;
  max-width: 600px;
  width: 80vw;
  text-align: center;
}

#app .heading .btn {
  display: flex;
  align-items: center;
  font-size: 23px;
  line-height: 35px;
  font-weight: 500;
}

#app .heading .btn svg {
  margin-right: 8px;
}

#app .section {
  overflow: hidden;
  padding-top: 2vh;
  padding-bottom: 2vh;
  max-width: 100vw;
}

#app .section h3 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#app .section .swiper {
  cursor: grab;
}

#app .section .swiper.moving {
  cursor: grabbing;
}

#app .section .swiper.moving a {
  cursor: grabbing;
}

#app .section .swiper .swiper-slide {
  width: auto;
}

#app .chevron-next {
  display: none;
  cursor: pointer;
}

#app .chevron-next.swiper-button-disabled {
  color: rgb(163, 163, 163);
  color: var(--netflix-gray);
  pointer-events: none;
}

#app .poster {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  aspect-ratio: 2/3;
  max-width: 96px;
  height: 144px;
  box-shadow: 0 0 4px 4px rgba(24, 24, 24, 0.8);
  box-shadow: 0 0 4px 4px rgba(var(--netflix-black-rgb), 0.8);
}

#app .poster img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

#app .poster.not-found img {
  width: auto;
}

#app .poster.flat {
  border-radius: 0;
}

#app .poster .title {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(254, 252, 248, 0.8);
  background: rgba(54, 54, 54, 0.3);
  z-index: 2;
  opacity: 0;
  transition: height 0.5s ease, color 0.5s ease 0.25s, background 0.5s ease 0.5s, border 0.25s ease 0.25s;
}

#app .poster:hover {
  box-shadow: 0 0 4px 4px rgba(244, 6, 18, 0.3);
  box-shadow: 0 0 4px 4px rgba(var(--netflix-red-hover-rgb), 0.3);
}

#app .poster:hover .title {
  opacity: 1;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  color: rgba(254, 252, 248, 1);
  color: rgba(var(--netflix-white-rgb), 1);
  background: rgba(54, 54, 54, 0.4);
  border-radius: 8px;
  overflow: hidden;
}

.flat .title {
  border-radius: 0;
}

#app .poster:hover::before {
  background-color: rgba(254, 252, 248, 0.2);
}

#app .poster:active .title {
  background: rgba(24, 24, 24, 0.5);
}

#app .poster.not-found .title {
  display: none;
}

#app .poster.not-found::before {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 227, 229, 0.285);
  transition: background 0.5s ease both;
}

#app .poster.not-found img {
  filter: grayscale(90%);
}

#app .media-info {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app .media-info h4 {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#app .media-info .overview {
  font-size: 16.5px;
  line-height: 25px;
  text-align: center;
}

#app .actors {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-dialog--form {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  background-color: rgba(24, 24, 24, 0.8);
  background-color: rgba(var(--netflix-black-rgb), 0.8);
  background-image: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  background-image: var(--netflix-black-lg);
}

.ng-dialog--form [type=submit],
.ng-dialog--form [type=button],
.ng-dialog--form [type=reset],
.ng-dialog--form [role=button],
.ng-dialog--form button {
  background: rgba(24, 24, 24, 1) !important;
  background: rgba(var(--netflix-black-rgb), 1) !important;
  color: rgb(254, 252, 248) !important;
  color: var(--netflix-white) !important;
}

.ng-dialog--form [type=submit]:hover, .ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:hover,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:hover,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:hover,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:hover,
.ng-dialog--form button:focus {
  background: rgba(244, 6, 18, 0.7) !important;
  background: rgba(var(--netflix-red-hover-rgb), 0.7) !important;
}

.ng-dialog--form [type=submit]:hover, .ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:hover,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:hover,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:hover,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:hover,
.ng-dialog--form button:focus {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
}

.ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:focus {
  box-shadow: 0 0 0 0.085em rgb(133, 5, 11);
}

.ng-dialog--form [type=submit]:active,
.ng-dialog--form [type=button]:active,
.ng-dialog--form [type=reset]:active,
.ng-dialog--form [role=button]:active,
.ng-dialog--form button:active {
  background: rgba(244, 6, 18, 0.8) !important;
  background: rgba(var(--netflix-red-hover-rgb), 0.8) !important;
}

.ng-dialog--form [type=submit]:active,
.ng-dialog--form [type=button]:active,
.ng-dialog--form [type=reset]:active,
.ng-dialog--form [role=button]:active,
.ng-dialog--form button:active {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
}

.noscroll {
  overflow: hidden !important;
  width: 100% !important;
  padding-right: 8px !important;
}

.scrollback {
  scroll-behavior: auto !important;
}

#app {
  min-height: calc(100vh - 80px);
}

@media (min-width: 768px) {
  .nav-container .logo img {
    max-width: none;
    max-width: initial;
  }
  .ng-dialog--form [type=submit][title]:not([type=button])::after,
  .ng-dialog--form [type=button][title]:not([type=button])::after,
  .ng-dialog--form [type=reset][title]:not([type=button])::after,
  .ng-dialog--form [role=button][title]:not([type=button])::after,
  .ng-dialog--form button[title]:not([type=button])::after {
    display: inline-block;
    content: attr(title);
    margin-left: 8px;
  }
  #app .poster {
    max-width: 128px;
    height: 192px;
  }
}

@media (min-width: 992px) {
  .nav-container .nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 50%;
    right: 50%;
    background: rgba(254, 252, 248, 1);
    background: rgba(var(--netflix-white-rgb), 1);
    transition-duration: 0.25s;
  }
  .nav-container .nav .nav-link:hover::after {
    left: 15%;
    right: 15%;
  }
  .ng-dialog:modal .ng-dialog--form {
    transform: scale(1.2);
  }
  #app .background-picture .blured {
    height: 96px;
  }
  #app .background-picture img {
    object-fit: cover;
  }
  #app .cover + * {
    margin-top: -96px;
    position: relative;
    z-index: 2;
  }
  #app .heading {
    position: absolute;
    top: 300px;
    left: 5vw;
    max-width: 50vw;
  }
  #app .heading-title {
    text-align: left;
    width: 50vw;
    font-size: 78px;
    line-height: 78px;
    font-weight: 900;
  }
  #app .section h3 {
    font-size: 28px;
  }
  #app .chevron-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
  }
  #app .poster {
    max-width: 170px;
    height: 256px;
  }
  #app .poster:hover .title {
    font-size: 18px;
  }
  #app .media-info h4 {
    text-align: left;
  }
  #app .media-info .overview {
    text-align: left;
  }
  #app .media-info {
    margin-left: 5vw;
    max-width: 70vw;
  }
  #app .actors h3 {
    font-size: 32px;
    font-weight: 900;
    text-align: left;
    margin-left: calc(5vw - 16px);
    padding-left: 0;
  }
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .nav-container .nav {
    position: fixed;
    bottom: 0;
    top: 70px;
    z-index: 4;
    width: 100vw;
    right: -105vw;
    background: rgb(24, 24, 24);
    background: var(--netflix-black);
    box-shadow: 0 0 4px 4px rgba(24, 24, 24, 0.5);
    box-shadow: 0 0 4px 4px rgba(var(--netflix-black-rgb), 0.5);
    border-radius: 4px;
    align-items: center;
  }
  .nav-container .nav .nav-link {
    transition: filter 0.25s ease;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
  }
  .nav-container .nav .nav-link:hover {
    filter: drop-shadow(4px 4px 20px rgb(244, 6, 18)) contrast(200%);
    filter: drop-shadow(4px 4px 20px var(--netflix-red-hover)) contrast(200%);
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  .nav-container #burger-btn:checked ~ .nav {
    right: 0;
  }
  .hide-on-mobile {
    display: none !important;
  }
}

/*# sourceMappingURL=app.css.map */