*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #181818;
  color: #fefcf8;
}

#top {
  height: 64px;
  position: absolute;
  top: 0;
  z-index: 2;
  font-size: 18px;
}

#top .logo img {
  height: 32px;
  max-width: 32px;
  object-fit: cover;
}

#top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: rgba(14, 14, 14, 0.3);
  filter: blur(3px);
  box-shadow: 0 0 2px 2px rgba(14, 14, 14, 0.3);
  z-index: 1;
}

#top .nav {
  transition: right 0.75s ease-out;
}

#top .nav .nav-link {
  color: #fefcf8;
}

#top .nav .nav-link.active {
  font-weight: 500;
}

#top .nav .nav-link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

header {
  height: 40vmin;
  position: relative;
}

.app {
  width: 98vw;
  margin: 0 auto;
}

.background-picture {
  z-index: -1;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.background-picture img {
  object-fit: cover;
  object-position: top left;
  height: 720px;
}

.app {
  width: 90vw;
  margin: 0 auto;
}

.heading .heading-title {
  font-size: 45px;
  line-height: 48px;
  font-weight: 900;
  max-width: 600px;
  width: 80vw;
}

.heading .btn {
  display: flex;
  align-items: center;
  font-size: 23px;
  line-height: 35px;
  font-weight: 500;
}

.heading .btn .bi {
  font-size: 32px;
  margin-right: 8px;
}

.burger-btn {
  --burger-transition-duration: 0.25s;
  --burger-color: rgba(254, 252, 248, 0.8);
  --burger-bg: transparent;
  --burger-color-h: rgba(24, 24, 24, 0.9);
  --burger-bg-h: rgba(254, 252, 248, 0.9);
  --burger-border-size: 3px;
  --burger-size: 25px;
  --burger-layer-gap: 8px;
  width: calc(25px * 2);
  width: calc(var(--burger-size) * 2);
  height: calc(25px * 2);
  height: calc(var(--burger-size) * 2);
  position: relative;
  transition-duration: 0.25s;
  transition-duration: var(--burger-transition-duration);
  cursor: pointer;
}

.burger-btn .burger-circle {
  width: calc(var(--burger-size) * 2);
  height: calc(var(--burger-size) * 2);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: calc(var(--burger-border-size) / 2);
  border-radius: 50%;
  background: var(--burger-bg);
  border: var(--burger-border-size) solid var(--burger-color);
  right: 0;
}

.burger-btn .burger {
  width: var(--burger-size);
  height: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: var(--burger-size);
  right: calc(var(--burger-size) / 2);
  background-color: var(--burger-color);
  border-radius: var(--burger-border-size);
}

.burger-btn .burger::before, .burger-btn .burger::after {
  border-radius: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  width: var(--burger-size);
  height: var(--burger-border-size);
  background-color: var(--burger-color);
  content: "";
  top: calc(var(--burger-layer-gap) * -1);
}

.burger-btn .burger::after {
  top: var(--burger-layer-gap);
}

.burger-btn:hover .burger-circle {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger, .burger-btn:hover .burger::before, .burger-btn:hover .burger::after {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger-circle ~ .burger, .burger-btn:hover .burger-circle ~ .burger::before, .burger-btn:hover .burger-circle ~ .burger::after {
  background: var(--burger-color-h);
}

[type=checkbox]#burger-btn {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  position: absolute;
}

#burger-btn:checked ~ .burger-btn .burger,
.burger-btn.open .burger {
  background: transparent;
}

#burger-btn:checked ~ .burger-btn .burger:before,
.burger-btn.open .burger:before {
  transform: translateY(var(--burger-layer-gap)) rotateZ(45deg) scaleX(1.25);
}

#burger-btn:checked ~ .burger-btn .burger:after,
.burger-btn.open .burger:after {
  transform: translateY(calc(var(--burger-layer-gap) * -1)) rotateZ(-45deg) scaleX(1.25);
}

.section {
  overflow: hidden;
}

.section h3 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 900;
  text-transform: capitalize;
}

.poster {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  aspect-ratio: 2/3;
  max-width: 96px;
  height: 144px;
  box-shadow: 0 0 4px 4px rgba(24, 24, 24, 0.8);
}

.poster img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.poster .title {
  color: #fefcf8;
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(254, 252, 248, 0.8);
  background: rgba(229, 9, 20, 0.2);
  z-index: 2;
  transition: height 0.5s ease, color 0.5s ease 0.25s, background 0.5s ease 0.5s, border 0.25s ease 0.25s;
}

.poster:hover {
  box-shadow: 0 0 4px 4px rgba(226, 227, 229, 0.8);
}

.poster:hover .title {
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  color: rgb(254, 252, 248);
  background: rgba(229, 9, 20, 0.4);
  border-radius: 8px;
  overflow: hidden;
}

.poster:hover::before {
  background-color: rgba(254, 252, 248, 0.2);
}

.poster.not-found .title {
  display: none;
}

.poster.not-found::before {
  content: "";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 227, 229, 0.285);
  transition: background 0.5s ease both;
}

.poster.not-found img {
  filter: grayscale(70%);
}

@media (min-width: 768px) {
  #top .logo img {
    max-width: none;
    max-width: initial;
  }
  .poster {
    max-width: 128px;
    height: 192px;
  }
}

@media (max-width: 992px) {
  #top .nav {
    position: fixed;
    bottom: 0;
    z-index: 4;
    width: 50vw;
    right: -100vw;
    height: calc(100vh - 128px);
    background: #181818;
    box-shadow: 0 0 4px 4px rgba(14, 14, 14, 0.5);
    border-radius: 4px;
    align-items: center;
  }
  #top .nav .nav-link {
    transition: filter 0.25s ease;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
    text-shadow: 0 -1px 4px #fefcf8, 0 -2px 10px #e5e568, 0 -10px 20px #e8843f, 0 -18px 40px #e50914;
  }
  #top .nav .nav-link:hover {
    filter: drop-shadow(16px 16px 20px #f40612) contrast(200%);
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  #top .burger-btn {
    z-index: 5;
  }
  #top #burger-btn:checked ~ .nav {
    right: 0;
  }
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .background-picture img {
    width: 100vw;
  }
  .heading .heading-title {
    width: 50vw;
    font-size: 78px;
    line-height: 78px;
    font-weight: 900;
  }
  .heading {
    max-width: 50vw;
  }
  .mobile-only {
    display: none;
  }
  .section h3 {
    font-size: 28px;
  }
  .poster {
    max-width: 170px;
    height: 256px;
  }
  .poster:hover .title {
    font-size: 18px;
  }
}

/*# sourceMappingURL=layout.css.map */