*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #181818;
  color: #fefcf8;
}

#top {
  height: 64px;
}

#top .logo img {
  height: 32px;
  object-fit: cover;
}

#top nav .nav-link {
  color: #fefcf8;
}

#top nav .nav-link.active {
  font-weight: 500;
}

#top nav .nav-link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.nav-container {
  padding-left: 12px;
  padding-right: 12px;
}

.heading-background-picture {
  object-fit: cover;
  object-position: top left;
  max-height: 720px;
  width: 100vw;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: -1;
}

.app {
  margin-top: 25vmin;
}

.current-item {
  margin-top: 25vh;
  position: relative;
  margin-left: 5vw;
}

.current-item .heading-title {
  font-size: 45px;
  line-height: 48px;
  font-weight: 900;
  max-width: 600px;
  width: 80vw;
}

.burger-btn {
  --burger-transition-duration: 0.25s;
  --burger-color: rgba(254, 252, 248, 0.8);
  --burger-bg: transparent;
  --burger-color-h: rgba(24, 24, 24, 0.9);
  --burger-bg-h: rgba(254, 252, 248, 0.9);
  --burger-border-size: 3px;
  --burger-size: 25px;
  --burger-layer-gap: 8px;
  width: calc(25px * 2);
  width: calc(var(--burger-size) * 2);
  height: calc(25px * 2);
  height: calc(var(--burger-size) * 2);
  position: relative;
  transition-duration: 0.25s;
  transition-duration: var(--burger-transition-duration);
  cursor: pointer;
}

.burger-btn .burger-circle {
  width: calc(var(--burger-size) * 2);
  height: calc(var(--burger-size) * 2);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: calc(var(--burger-border-size) / 2);
  border-radius: 50%;
  background: var(--burger-bg);
  border: var(--burger-border-size) solid var(--burger-color);
  right: 0;
}

.burger-btn .burger {
  width: var(--burger-size);
  height: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: var(--burger-size);
  right: calc(var(--burger-size) / 2);
  background-color: var(--burger-color);
  border-radius: var(--burger-border-size);
}

.burger-btn .burger::before, .burger-btn .burger::after {
  border-radius: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  width: var(--burger-size);
  height: var(--burger-border-size);
  background-color: var(--burger-color);
  content: "";
  top: calc(var(--burger-layer-gap) * -1);
}

.burger-btn .burger::after {
  top: var(--burger-layer-gap);
}

.burger-btn:hover .burger-circle {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger, .burger-btn:hover .burger::before, .burger-btn:hover .burger::after {
  background: var(--burger-bg-h);
}

.burger-btn:hover .burger-circle ~ .burger, .burger-btn:hover .burger-circle ~ .burger::before, .burger-btn:hover .burger-circle ~ .burger::after {
  background: var(--burger-color-h);
}

[type=checkbox]#burger-btn {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  position: absolute;
}

#burger-btn:checked ~ .burger-btn .burger,
.burger-btn.open .burger {
  background: transparent;
}

#burger-btn:checked ~ .burger-btn .burger:before,
.burger-btn.open .burger:before {
  transform: translateY(var(--burger-layer-gap)) rotateZ(45deg) scaleX(1.25);
}

#burger-btn:checked ~ .burger-btn .burger:after,
.burger-btn.open .burger:after {
  transform: translateY(calc(var(--burger-layer-gap) * -1)) rotateZ(-45deg) scaleX(1.25);
}

.section {
  overflow: hidden;
}

.section h3 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 900;
  text-transform: capitalize;
}

.poster {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  aspect-ratio: 2/3;
  max-width: 96px;
  height: 144px;
  box-shadow: 0 0 4px 4px rgba(24, 24, 24, 0.8);
}

.poster img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.poster .title {
  color: #fefcf8;
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(254, 252, 248, 0.8);
  background: rgba(229, 9, 20, 0.2);
  z-index: 2;
  transition: height 0.5s ease, color 0.5s ease 0.25s, background 0.5s ease 0.5s, border 0.25s ease 0.25s;
}

.poster:hover {
  box-shadow: 0 0 4px 4px rgba(226, 227, 229, 0.8);
}

.poster:hover .title {
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  color: rgb(254, 252, 248);
  background: rgba(229, 9, 20, 0.4);
  border-radius: 8px;
  overflow: hidden;
}

.poster:hover::before {
  background-color: rgba(254, 252, 248, 0.2);
}

.poster.not-found .title {
  display: none;
}

.poster.not-found::before {
  content: "";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 227, 229, 0.285);
  transition: background 0.5s ease both;
}

.poster.not-found img {
  filter: grayscale(70%);
}

@media (min-width: 992px) {
  .app {
    margin-top: 50vmin;
  }
  .current-item .heading-title {
    font-size: 78px;
    line-height: 78px;
    font-weight: 900;
  }
  .mobile-only {
    display: none;
  }
  .section h3 {
    font-size: 28px;
  }
  .poster {
    max-width: 170px;
    height: 256px;
  }
  .poster:hover .title {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .poster {
    max-width: 128px;
    height: 192px;
  }
}

/*# sourceMappingURL=layout.css.map */