@charset "UTF-8";
:root {
  --netflix-red: rgb(229, 9, 20);
  --netflix-red-hover: rgb(244, 6, 18);
  --netflix-black: rgb(24, 24, 24);
  --netflix-white: rgb(254, 252, 248);
  --netflix-gray: rgb(163, 163, 163);
  --netflix-background: rgb(24, 24, 24);
  --netflix-red-rgb: 229, 9, 20;
  --netflix-red-hover-rgb: 244, 6, 18;
  --netflix-black-rgb: 24, 24, 24;
  --netflix-white-rgb: 254, 252, 248;
  --netflix-gray-rgb: 163, 163, 163;
  --netflix-black-lg: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  --netflix-red-lg: linear-gradient(180deg, rgb(229, 9, 20), rgb(219, 5, 16));
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  line-height: 1.2;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgb(24, 24, 24);
  background-color: var(--netflix-background);
  background-image: linear-gradient(90deg, rgb(51, 51, 51) 5%, rgb(24, 24, 24) 95%);
  background-image: var(--netflix-black-lg);
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  overflow-x: hidden;
}
#top {
  height: 64px;
  position: absolute;
  top: 0;
  z-index: 3;
  font-size: 18px;
}
#top .logo img {
  height: 32px;
  max-width: 32px;
  object-fit: cover;
}
#top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: -2;
  background: rgba(14, 14, 14, 0.4);
  filter: blur(3px);
  box-shadow: 0 0 2px 2px rgba(14, 14, 14, 0.4);
}
#top .nav {
  transition: right 0.75s ease-out;
}
#top .nav .nav-link {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  position: relative;
  color: rgba(254, 252, 248, 0.8);
}
#top .nav .nav-link.active, #top .nav .nav-link:hover {
  font-weight: 600;
  color: rgb(254, 252, 248);
}
#top .info-btn {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  -webkit-text-decoration: none;
  text-decoration: none;
}
#top .info-btn.active, #top .info-btn:hover {
  color: rgb(254, 252, 248);
}
header {
  height: 550px;
  position: relative;
}
footer {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
.app {
  width: 100vw;
  margin: 0 auto;
}
.app .content {
  padding: 1rem 2.5vw;
}
.background-picture {
  z-index: -3;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  padding: 0;
}
.background-picture img {
  position: relative;
  z-index: -3;
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 550px;
}
.background-picture .blured, .background-picture .blured-background {
  z-index: -2;
  height: 30px;
}
.blured, .blured-background {
  background: rgba(14, 14, 14, 0.5);
  filter: blur(3px);
  box-shadow: 0 0 2px 2px rgba(14, 14, 14, 0.5);
}
.blured-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
  top: 520px;
  height: 30px;
}
.heading {
  position: absolute;
  left: 10vw;
  bottom: calc(100vh - 550px);
}
.heading .heading-title {
  font-size: 45px;
  line-height: 48px;
  font-weight: 900;
  max-width: 600px;
  width: 80vw;
}
.heading .btn {
  display: flex;
  align-items: center;
  font-size: 23px;
  line-height: 35px;
  font-weight: 500;
}
.heading .btn .bi {
  font-size: 32px;
  margin-right: 8px;
}
.burger-btn {
  --burger-transition-duration: 0.25s;
  --burger-color: rgba(254, 252, 248, 0.8);
  --burger-bg: transparent;
  --burger-color-h: rgba(24, 24, 24, 0.9);
  --burger-bg-h: rgba(254, 252, 248, 0.9);
  --burger-border-size: 3px;
  --burger-size: 25px;
  --burger-layer-gap: 8px;
  width: calc(25px * 2);
  width: calc(var(--burger-size) * 2);
  height: calc(25px * 2);
  height: calc(var(--burger-size) * 2);
  position: relative;
  transition-duration: 0.25s;
  transition-duration: var(--burger-transition-duration);
  cursor: pointer;
}
.burger-btn .burger-circle {
  width: calc(var(--burger-size) * 2);
  height: calc(var(--burger-size) * 2);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: calc(var(--burger-border-size) / 2);
  border-radius: 50%;
  background: var(--burger-bg);
  border: var(--burger-border-size) solid var(--burger-color);
  right: 0;
}
.burger-btn .burger {
  width: var(--burger-size);
  height: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  top: var(--burger-size);
  right: calc(var(--burger-size) / 2);
  background-color: var(--burger-color);
  border-radius: var(--burger-border-size);
}
.burger-btn .burger::before, .burger-btn .burger::after {
  border-radius: var(--burger-border-size);
  transition-duration: var(--burger-transition-duration);
  position: absolute;
  width: var(--burger-size);
  height: var(--burger-border-size);
  background-color: var(--burger-color);
  content: "";
  top: calc(var(--burger-layer-gap) * -1);
}
.burger-btn .burger::after {
  top: var(--burger-layer-gap);
}
.burger-btn:hover .burger-circle {
  background: var(--burger-bg-h);
}
.burger-btn:hover .burger, .burger-btn:hover .burger::before, .burger-btn:hover .burger::after {
  background: var(--burger-bg-h);
}
.burger-btn:hover .burger-circle ~ .burger, .burger-btn:hover .burger-circle ~ .burger::before, .burger-btn:hover .burger-circle ~ .burger::after {
  background: var(--burger-color-h);
}
[type=checkbox]#burger-btn {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  position: absolute;
}
#burger-btn:checked ~ .burger-btn .burger,
.burger-btn.open .burger {
  background: transparent;
}
#burger-btn:checked ~ .burger-btn .burger:before,
.burger-btn.open .burger:before {
  transform: translateY(var(--burger-layer-gap)) rotateZ(45deg) scaleX(1.25);
}
#burger-btn:checked ~ .burger-btn .burger:after,
.burger-btn.open .burger:after {
  transform: translateY(calc(var(--burger-layer-gap) * -1)) rotateZ(-45deg) scaleX(1.25);
}
.section {
  overflow: hidden;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.section h3 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.poster {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  aspect-ratio: 2/3;
  max-width: 96px;
  height: 144px;
  box-shadow: 0 0 4px 4px rgba(24, 24, 24, 0.8);
}
.poster img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.poster .title {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(254, 252, 248, 0.8);
  background: rgba(229, 9, 20, 0.2);
  z-index: 2;
  transition: height 0.5s ease, color 0.5s ease 0.25s, background 0.5s ease 0.5s, border 0.25s ease 0.25s;
}
.poster:hover {
  box-shadow: 0 0 4px 4px rgba(226, 227, 229, 0.8);
}
.poster:hover .title {
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  color: rgb(254, 252, 248);
  background: rgba(229, 9, 20, 0.4);
  border-radius: 8px;
  overflow: hidden;
}
.poster:hover::before {
  background-color: rgba(254, 252, 248, 0.2);
}
.poster.not-found .title {
  display: none;
}
.poster.not-found::before {
  content: "";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(226, 227, 229, 0.285);
  transition: background 0.5s ease both;
}
.poster.not-found img {
  filter: grayscale(70%);
}
.chevron-next {
  display: none;
}
.chevron-next.swiper-button-disabled {
  color: rgb(163, 163, 163);
  color: var(--netflix-gray);
  pointer-events: none;
}
#input-movie-title {
  min-height: 78px;
}
#input-movie-title .form--input {
  display: flex;
  flex-direction: column;
}
#input-movie-title .form--input label {
  font-size: 32px;
  font-weight: 900;
}
#input-movie-title .form--input label + * {
  margin-left: 0;
  margin-top: 16px;
}
#input-movie-title input,
#input-movie-title button,
#input-movie-title textarea {
  appearance: none;
}
#input-movie-title .input--group {
  position: relative;
  width: 320px;
  display: flex;
}
#input-movie-title .input--group .input--bar {
  position: absolute;
  left: 0;
  bottom: 2px;
  display: block;
  width: 100%;
  pointer-events: none;
}
#input-movie-title .input--group .input--bar:before {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background: #2196f3;
  transition: 300ms ease width;
}
#input-movie-title .input--group .input--placeholder {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  font-size: 16px;
  font-weight: 500;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
#input-movie-title .input--group [required] ~ .input--placeholder::after {
  content: "✱";
}
#input-movie-title .input--group [required]:valid ~ .input--placeholder::after {
  content: "";
}
#input-movie-title .input--group input,
#input-movie-title .input--group textarea,
#input-movie-title .input--group button {
  background: none;
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(254, 252, 248);
  border-bottom: 2px solid var(--netflix-white);
}
#input-movie-title .input--group input:-ms-input-placeholder, #input-movie-title .input--group textarea:-ms-input-placeholder, #input-movie-title .input--group button:-ms-input-placeholder {
  color: transparent;
  display: none;
}
#input-movie-title .input--group input::placeholder,
#input-movie-title .input--group textarea::placeholder,
#input-movie-title .input--group button::placeholder {
  color: transparent;
  display: none;
}
#input-movie-title .input--group input:focus,
#input-movie-title .input--group textarea:focus,
#input-movie-title .input--group button:focus {
  outline: none;
}
#input-movie-title .input--group input:focus ~ .input--placeholder, #input-movie-title .input--group input:valid ~ .input--placeholder,
#input-movie-title .input--group textarea:focus ~ .input--placeholder,
#input-movie-title .input--group textarea:valid ~ .input--placeholder,
#input-movie-title .input--group button:focus ~ .input--placeholder,
#input-movie-title .input--group button:valid ~ .input--placeholder {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
#input-movie-title .input--group input:not(:empty):invalid ~ .input--placeholder, #input-movie-title .input--group input.invalid ~ .input--placeholder,
#input-movie-title .input--group textarea:not(:empty):invalid ~ .input--placeholder,
#input-movie-title .input--group textarea.invalid ~ .input--placeholder,
#input-movie-title .input--group button:not(:empty):invalid ~ .input--placeholder,
#input-movie-title .input--group button.invalid ~ .input--placeholder {
  color: rgb(244, 6, 18);
  color: var(--netflix-red-hover);
}
#input-movie-title .input--group input:focus ~ .input--bar:before,
#input-movie-title .input--group textarea:focus ~ .input--bar:before,
#input-movie-title .input--group button:focus ~ .input--bar:before {
  width: 100%;
}
#input-movie-title .input--group input:not(:empty):invalid ~ .input--bar:before, #input-movie-title .input--group input.invalid ~ .input--bar:before,
#input-movie-title .input--group textarea:not(:empty):invalid ~ .input--bar:before,
#input-movie-title .input--group textarea.invalid ~ .input--bar:before,
#input-movie-title .input--group button:not(:empty):invalid ~ .input--bar:before,
#input-movie-title .input--group button.invalid ~ .input--bar:before {
  background-color: rgb(244, 6, 18);
  background-color: var(--netflix-red-hover);
}
#input-movie-title .input--group input[disabled],
#input-movie-title .input--group textarea[disabled],
#input-movie-title .input--group button[disabled] {
  color: rgb(163, 163, 163);
  color: var(--netflix-gray);
}
#input-movie-title .input--group textarea {
  resize: none;
}
#input-movie-title .input--mix {
  display: flex;
  max-width: 100%;
  min-width: 320px;
}
#input-movie-title .input--mix .input--group {
  width: calc(66% - 1px);
}
#input-movie-title .input--mix .input--group + .input--group {
  width: 33%;
}
#input-movie-title .input--mix:focus-within .input--bar::before {
  width: 100%;
}
#input-movie-title .input--mix:hover .input--bar:before {
  background: #2196f3 !important;
}
#input-movie-title .input--mix:hover .input--bar:before {
  width: 100%;
}
#input-movie-title .btn-submit {
  width: 48px !important;
}
#input-movie-title .input-text {
  width: calc(100% - 48px) !important;
}
.ng-dialog--form {
  color: rgb(254, 252, 248);
  color: var(--netflix-white);
  background-color: rgba(24, 24, 24, 0.8);
  background-color: rgba(var(--netflix-black-rgb), 0.8);
  background-image: linear-gradient(90deg, rgba(51, 51, 51, 0.8) 5%, rgba(24, 24, 24, 0.8) 95%);
}
.ng-dialog--form [type=submit],
.ng-dialog--form [type=button],
.ng-dialog--form [type=reset],
.ng-dialog--form [role=button],
.ng-dialog--form button {
  background: rgba(24, 24, 24, 1) !important;
  background: rgba(var(--netflix-black-rgb), 1) !important;
  color: rgb(254, 252, 248) !important;
  color: var(--netflix-white) !important;
}
.ng-dialog--form [type=submit]:hover, .ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:hover,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:hover,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:hover,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:hover,
.ng-dialog--form button:focus {
  background: rgba(244, 6, 18, 0.7) !important;
  background: rgba(var(--netflix-red-hover-rgb), 0.7) !important;
}
.ng-dialog--form [type=submit]:hover, .ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:hover,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:hover,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:hover,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:hover,
.ng-dialog--form button:focus {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
}
.ng-dialog--form [type=submit]:focus,
.ng-dialog--form [type=button]:focus,
.ng-dialog--form [type=reset]:focus,
.ng-dialog--form [role=button]:focus,
.ng-dialog--form button:focus {
  box-shadow: 0 0 0 0.085em rgb(133, 5, 11);
}
.ng-dialog--form [type=submit]:active,
.ng-dialog--form [type=button]:active,
.ng-dialog--form [type=reset]:active,
.ng-dialog--form [role=button]:active,
.ng-dialog--form button:active {
  background: rgba(244, 6, 18, 0.8) !important;
  background: rgba(var(--netflix-red-hover-rgb), 0.8) !important;
}
.ng-dialog--form [type=submit]:active,
.ng-dialog--form [type=button]:active,
.ng-dialog--form [type=reset]:active,
.ng-dialog--form [role=button]:active,
.ng-dialog--form button:active {
  box-shadow: 1px 0 rgba(0, 0, 0, 0.45);
}
.notify-area:not(:empty) {
  pointer-events: none;
  z-index: 2;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notify-area:not(:empty) .notification {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  text-transform: uppercase;
  min-width: 90vw;
  padding: 1vmin;
  font-size: 35px;
  line-height: 48px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 6, 14);
}
.notify-area:not(:empty) .notification + .notification {
  margin-top: 1rem;
}
.notify-area:not(:empty) + .heading {
  display: none;
}
@media (min-width: 768px){
  #top .logo img {
    max-width: none;
    max-width: initial;
  }
  .poster {
    max-width: 128px;
    height: 192px;
  }
}
@media (min-width: 992px){
  #top .nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 50%;
    right: 50%;
    background: rgb(254, 252, 248);
    transition-duration: 0.25s;
  }
  #top .nav .nav-link:hover::after {
    left: 15%;
    right: 15%;
  }
  header {
    height: 620px;
  }
  .background-picture img {
    aspect-ratio: 16/10;
    height: 720px;
  }
  .background-picture .blured, .background-picture .blured-background {
    height: 100px;
  }
  .blured-background {
    top: 620px;
    height: 100px;
  }
  .heading .heading-title {
    width: 50vw;
    font-size: 78px;
    line-height: 78px;
    font-weight: 900;
  }
  .heading {
    bottom: calc(100vh - 600px);
    left: 0;
    max-width: 50vw;
  }
  .mobile-only {
    display: none;
  }
  .section h3 {
    text-align: left;
    font-size: 28px;
  }
  .poster {
    max-width: 170px;
    height: 256px;
  }
  .poster:hover .title {
    font-size: 18px;
  }
  .chevron-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
  }
  #input-movie-title .form--input {
    flex-direction: row;
    align-items: center;
  }
  #input-movie-title .form--input label {
    font-size: 38px;
  }
  #input-movie-title .form--input label + * {
    margin-left: 16px;
    margin-top: 0;
  }
  .notify-area:not(:empty) .notification {
    min-width: 50vw;
    font-size: 45px;
    line-height: 78px;
    font-weight: 900;
  }
}
@media (max-width: 992px){
  #top .nav {
    position: fixed;
    bottom: 0;
    z-index: 4;
    width: 100vw;
    right: -105vw;
    height: calc(100vh - 70px);
    background: rgb(24, 24, 24);
    background: var(--netflix-black);
    box-shadow: 0 0 4px 4px rgba(14, 14, 14, 0.5);
    border-radius: 4px;
    align-items: center;
  }
  #top .nav .nav-link {
    transition: filter 0.25s ease;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
    text-shadow: 0 -1px 4px #fefcf8, 0 -2px 10px #e5e568, 0 -10px 20px #e8843f, 0 -18px 40px #e50914;
  }
  #top .nav .nav-link:hover {
    filter: drop-shadow(16px 16px 20px #f40612) contrast(200%);
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  #top #burger-btn:checked ~ .nav {
    right: 0;
  }
  .hide-on-mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */