@use '../helpers' as *;

@mixin details {
    .media-info {
        h4 {
            @include font-size(25px, 900);
            text-transform: uppercase;
            text-align: center;
            @include lg {
                text-align: left;
            }
        }
        .overview {
            @include font-size(14px, $line-height: 25px);
        }

        @include lg {
            max-width: 50vw;
        }

        // max-width: 600px;
    }
}
