/* Coolors Exported Palette - https://coolors.co/c33c54-933749-62313d-312c32-002626 */

/* CSS HEX */
--rose-red: #c33c54ff;
--cordovan: #933749ff;
--wine: #62313dff;
--raisin-black: #312c32ff;
--dark-green: #002626ff;

/* CSS HSL */
--rose-red: hsla(349, 53%, 50%, 1);
--cordovan: hsla(348, 46%, 40%, 1);
--wine: hsla(345, 33%, 29%, 1);
--raisin-black: hsla(290, 6%, 18%, 1);
--dark-green: hsla(180, 100%, 7%, 1);

/* SCSS HEX */
$rose-red: #c33c54ff;
$cordovan: #933749ff;
$wine: #62313dff;
$raisin-black: #312c32ff;
$dark-green: #002626ff;

/* SCSS HSL */
$rose-red: hsla(349, 53%, 50%, 1);
$cordovan: hsla(348, 46%, 40%, 1);
$wine: hsla(345, 33%, 29%, 1);
$raisin-black: hsla(290, 6%, 18%, 1);
$dark-green: hsla(180, 100%, 7%, 1);

/* SCSS RGB */
$rose-red: rgba(195, 60, 84, 1);
$cordovan: rgba(147, 55, 73, 1);
$wine: rgba(98, 49, 61, 1);
$raisin-black: rgba(49, 44, 50, 1);
$dark-green: rgba(0, 38, 38, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-right: linear-gradient(90deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-bottom: linear-gradient(180deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-left: linear-gradient(270deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-top-right: linear-gradient(45deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-bottom-right: linear-gradient(135deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-top-left: linear-gradient(225deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-bottom-left: linear-gradient(315deg, #c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);
$gradient-radial: radial-gradient(#c33c54ff, #933749ff, #62313dff, #312c32ff, #002626ff);

// btn Netfix style

%btn-red,
.btn-red {
    background-color: rgba(230, 10, 21, 1);
    background-image: linear-gradient(180deg, rgba(229, 9, 20, 1), rgba(219, 5, 16, 1));
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    color: #fff;

    &:hover,
    &:focus {
        background-color: rgba(244, 6, 18, 1);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    }

    &:focus {
        box-shadow: 0 0 0 0.085em rgba(133, 5, 11, 1);
    }

    &.active,
    &:active {
        background: rgba(187, 10, 18, 1);
    }

    &.disabled,
    &[disabled] {
        background-color: #e50914;
        background-image: linear-gradient(180deg, rgba(229, 9, 20, 1), rgba(219, 5, 16, 1));
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    }
}
