/* 
    Dialog Reset and management
    @link https://www.amp-what.com/unicode/search/close 
    🗙 ☐ 🗹  ✔ 
*/

@mixin _pseudo_attributes($attribute, $prefix: 'ng-', $tag: 'dialog', $at-root: false) {
    @if & != null and $at-root == false {
        &::#{$attribute},
        &[#{$attribute}],
        &[data-#{$attribute}] {
            @content;
        }
    } @else {
        #{$tag},
        .#{$prefix}#{$tag} {
            @include _pseudo_attributes($attribute, $prefix, $tag, $at-root) {
                @content;
            }
        }
    }
}

.ng-dialog {
    /*
        Dialog Reset
    */

    border: 0;
    outline: 0;
    background: transparent;
    position: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

    .card {
        // min-height: 50vh;
        border-radius: 3px;
        border: 0;
        margin: auto;

        // width: auto;
        // justify-content: space-between;
    }

    & > form {
        max-width: 75vmin;
        max-height: 75vmin;

        transition-duration: 0.4s;
        transition-delay: 0.1s;
        transform-origin: center center;

        input,
        textarea {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

        [type='submit'],
        [type='button'],
        [type='reset'],
        [role='button'],
        button {
            padding: 0.25em 1em;
            // margin: 0.5em;
            text-transform: capitalize;
            border: 0;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25em;
            display: flex;
            justify-content: center;
            align-items: center;

            // box-shadow:none;
        }

        button + button {
            margin-left: 2vmin;
        }
    }

    &:not([open]),
    &.closing {
        position: relative;
        display: flex;
        visibility: hidden;
        opacity: 0;
        z-index: -5;
        & > form {
            transform: scale(0.3);
            opacity: 0;
        }
    }

    &:modal {
        // inset: auto;

        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        max-width: unset;
        max-height: unset;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        & > form {
            transform: scale(1.2);
        }
    }

    &::backdrop {
        background: rgba(14, 14, 14, 0.5);
        -webkit-filter: blur(3px);
        filter: blur(3px);
        box-shadow: 0 0 3px 3px rgba(14, 14, 14, 0.5);
    }
}

// firefox defaults

@mixin moz-dialog {
    dialog:modal {
        -moz-top-layer: top !important;
        position: fixed;
        overflow: auto;
        visibility: visible;
        inset-block-start: 0;
        inset-block-end: 0;
        max-width: calc(100% - 6px - 2em);
        max-height: calc(100% - 6px - 2em);
    }

    dialog::-webkit-backdrop {
        background: rgba(0, 0, 0, 0.1);
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-backdrop {
        -moz-top-layer: top !important;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-user-select: none;
        user-select: none;
    }

    ::backdrop {
        -moz-top-layer: top !important;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    :-moz-topmost-modal:not(html|*[inert]) {
        -moz-inert: none;
        -moz-user-select: text;
        user-select: text;
    }

    dialog {
        position: absolute;
        display: block;
        inset-inline-start: 0;
        inset-inline-end: 0;
        margin: auto;
        border-width: initial;
        border-style: solid;
        border-color: initial;
        -o-border-image: initial;
        border-image: initial;
        padding: 1em;
        background-color: Canvas;
        color: CanvasText;
        width: -moz-fit-content;
        height: -moz-fit-content;
    }
}

@mixin edge-dialog {
    dialog[open] {
        display: block;
    }

    dialog {
        display: none;
        position: absolute;
        inset-inline-start: 0px;
        inset-inline-end: 0px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background-color: canvas;
        color: canvastext;
        margin: auto;
        border-width: initial;
        border-style: solid;
        border-color: initial;
        -o-border-image: initial;
        border-image: initial;
        padding: 1em;
    }

    dialog:modal {
        position: fixed;
        inset-block-start: 0px;
        inset-block-end: 0px;
        max-width: calc((100% - 6px) - 2em);
        max-height: calc((100% - 6px) - 2em);
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        visibility: visible;
        overflow: auto;
    }
    dialog::-webkit-backdrop {
        position: fixed;
        inset: 0px;
        background: rgba(0, 0, 0, 0.1);
    }
    dialog::backdrop {
        position: fixed;
        inset: 0px;
        background: rgba(0, 0, 0, 0.1);
    }
}

@mixin chromium-dialog {
    dialog:not([open]) {
        display: none;
    }

    dialog {
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        width: -webkit-fit-content;
        height: -webkit-fit-content;
        color: black;
        margin: auto;
        border-width: initial;
        border-style: solid;
        border-color: initial;
        -o-border-image: initial;
        border-image: initial;
        padding: 1em;
        background: white;
    }

    dialog::-webkit-backdrop {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.1);
    }

    dialog::backdrop {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.1);
    }
}
