@use '../helpers' as *;
@use 'blured' as *;

@mixin cover {
    .cover {
        background: $netflix-black;
        position: relative;
    }
    .background-picture {
        @include blured {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 32px;

            @include lg {
                height: 96px;
            }
        }

        position: relative;
        z-index: 0;

        user-select: none;
        pointer-events: none;
        padding: 0;

        aspect-ratio: 1280/720;

        width: 100vw;
        max-width: $cover-max-width;
        max-height: $cover-max-height;
        margin: 0 auto;

        display: flex;
        justify-content: center;

        img {
            max-height: $cover-max-height;
            @include margin-x(auto);
            width: 100%;
            object-fit: contain;
            object-position: center center;
            @include lg {
                object-fit: cover;
            }
        }
    }

    @include lg {
        .cover + * {
            margin-top: -96px;
            position: relative;
            z-index: 2;
        }
    }

    .heading {
        user-select: none;

        @include lg {
            position: absolute;
            top: 0;
            height: 90vh;
            left: 5vw;
            max-width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-title {
            @include font-size(45px, 900, 48px);
            max-width: 800px;
            width: 80vw;
            text-align: center;
            @include lg {
                text-align: left;
                width: 50vw;
                @include font-size(78px, 900, 78px);
            }
        }

        .btn {
            display: flex;
            align-items: center;
            @include font-size(23px, 500, 35px);
            svg {
                margin-right: 8px;
            }
        }
    }
}
