@use '../helpers/' as *;
@use 'fluo' as *;

@mixin main-loader {
    .main-loader {
        position: fixed;
        z-index: 500;
        inset: 0;
        background: $netflix-black;
        @include flex-center(column);

        @include fluo;

        .fluo::after {
            box-shadow: none;
            background: rgba($netflix-black-rgb, 0.6);
        }

        .typed {
            margin-right: 8px;
        }

        .load-message {
            text-align: center;

            @include font-size(16px, 600);

            @include lg {
                font-size: 20px;
            }
        }
    }
}
