@use '../helpers' as *;

@mixin notifications {
    //:not(:empty)
    .notify-area {
        pointer-events: none;
        z-index: 2;
        @include flex-center(column);

        .notification {
            user-select: none;
            color: #fff;
            text-transform: uppercase;
            min-width: 60vw;

            padding: 1vmin;

            @include font-size(35px, 900, 48px);
            @include flex-center(column);

            background-color: rgba(182, 6, 14, 1);

            @include lg {
                min-width: 50vw;
                @include font-size(45px, 900, 78px);
            }
        }
    }
}
