@use '../helpers' as *;

@mixin notifications {
    .notify-area:not(:empty) {
        pointer-events: none;
        z-index: 2;
        height: 550px;
        @include flex-center(column);

        @include lg {
            height: 620px;
        }

        .notification {
            user-select: none;
            color: #fff;
            text-transform: uppercase;
            min-width: 90vw;

            padding: 1vmin;

            @include font-size(35px, 900, 48px);
            @include flex-center(column);

            background-color: rgba(182, 6, 14, 1);

            @include lg {
                min-width: 50vw;
                @include font-size(45px, 900, 78px);
            }

            & + .notification {
                margin-top: 1rem;
            }
        }

        // & + .heading {
        //     display: none;
        // }
    }
}
