@use '../helpers' as *;
@use 'poster' as *;
@use 'swiper';

@mixin slides {
    .section {
        overflow: hidden;
        @include padding-y(2vh);
        max-width: $layout-max-width;
        h3 {
            @include font-size(25px, 900, 24px);
            text-transform: uppercase;
            text-align: center;

            @include lg {
                font-size: 28px;
            }
        }

        .swiper {
            cursor: grab;
            &.moving {
                cursor: grabbing;
                a {
                    cursor: grabbing;
                }
            }
            .swiper-slide {
                width: auto;
                max-width: 96px;
                @include md {
                    max-width: 128px;
                }

                @include lg {
                    max-width: 170px;
                }
            }
        }
    }

    .chevron-next {
        display: none;
        cursor: pointer;

        &.swiper-button-disabled {
            color: $netflix-gray;

            pointer-events: none;
        }

        @include lg {
            @include flex-center;
            margin-left: 16px;
        }
    }

    @include poster;
}
