@use 'varutils' as *;

$font-family: 'Poppins';
// $font-family: 'Bebas Neue';

$_netflix-red: rgb(229, 9, 20);
$_netflix-red-hover: rgb(244, 6, 18);
$_netflix-black: rgb(24, 24, 24);
$_netflix-white: rgb(254, 252, 248);
$_netflix-gray: rgb(163, 163, 163);
$_netflix-background: rgb(24, 24, 24);

$_netflix-red-rgb: 229, 9, 20;
$_netflix-red-hover-rgb: 244, 6, 18;
$_netflix-black-rgb: 24, 24, 24;
$_netflix-white-rgb: 254, 252, 248;
$_netflix-gray-rgb: 163, 163, 163;
$_netflix-black-lg: linear-gradient(90deg, rgba(51, 51, 51, 1) 5%, rgba(24, 24, 24, 1) 95%);

$_netflix-red-lg: linear-gradient(180deg, rgba(229, 9, 20, 1), rgba(219, 5, 16, 1));

$netflix-colors: (
    netflix-red: $_netflix-red,
    netflix-red-hover: $_netflix-red-hover,
    netflix-black: rgb(24, 24, 24),
    netflix-white: $_netflix-black,
    netflix-gray: $_netflix-gray,
    netflix-background: $_netflix-background,
    netflix-red-rgb: $_netflix-red-rgb,
    netflix-red-hover-rgb: $_netflix-red-hover-rgb,
    netflix-black-rgb: $_netflix-black-rgb,
    netflix-white-rgb: $_netflix-white-rgb,
    netflix-gray-rgb: $_netflix-gray-rgb,
    netflix-black-lg: $_netflix-black-lg,
    netflix-red-lg: $_netflix-red-lg,
);

$netflix-red: v-add('netflix-red', $_netflix-red);
$netflix-red-hover: v-add('netflix-red-hover', $_netflix-red-hover);
$netflix-black: v-add('netflix-black', $_netflix-black);
$netflix-white: v-add('netflix-white', $_netflix-white);
$netflix-gray: v-add('netflix-gray', $_netflix-gray);
$netflix-background: v-add('netflix-background', $_netflix-background);
$netflix-red-rgb: v-add('netflix-red-rgb', $_netflix-red-rgb);
$netflix-red-hover-rgb: v-add('netflix-red-hover-rgb', $_netflix-red-hover-rgb);
$netflix-black-rgb: v-add('netflix-black-rgb', $_netflix-black-rgb);
$netflix-white-rgb: v-add('netflix-white-rgb', $_netflix-white-rgb);
$netflix-gray-rgb: v-add('netflix-gray-rgb', $_netflix-gray-rgb);
$netflix-black-lg: v-add('netflix-black-lg', $_netflix-black-lg);
$netflix-red-lg: v-add('netflix-red-lg', $_netflix-red-lg);

// burger menu
$burger-transition-duration: 0.25s;
$burger-color: rgba($netflix-white-rgb, 0.8);
$burger-color-h: rgba($netflix-black-rgb, 0.9);
$burger-bg: transparent;
$burger-bg-h: rgba($netflix-white-rgb, 0.9);
$burger-border-size: 3px;
$burger-size: 25px;
$burger-layer-gap: 8px;

// fluo
$fluo-outer-size: 15vmin;
$fluo-wheel-size: 15%;
$fluo-inner-bg: rgba($netflix-black-rgb, 0.2);
$fluo-text-color: $netflix-white;
// $fluo-wheel-gradient: $cyberpunk;

//layout

$layout-max-width: 100vw;
$cover-max-width: $layout-max-width;
$cover-max-height: 90vh;
// $cover-min-height: 480px;

// loads theme
@include v-load($root: true);
